# Node.js
frontend/node_modules/
frontend/dist/
frontend/.npm/

# Python
backend/__pycache__/
backend/venv/
*.pyc
.env

# Data and Excel Files
*.xlsx
*.csv
*.json
!package.json
!package-lock.json
!frontend/package.json
!frontend/package-lock.json

# OS files
.DS_Store
Thumbs.db
